
.logo h1 b{
  color: rgb(191, 22, 50);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
}

.contra{
  font-size: 15px;
}

/* Estilo para el enlace "Olvidaste la contraseña?" */
#contra {
  font-size: 15px;
}

.login form{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-content:stretch;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  
}
