.asd{
    display: flex;
    justify-content: space-between;
    height: 5%;
    
}





footer {
    flex-direction: column;
    justify-content: baseline;
    position:absolute;
    bottom: 100%;
    background-color: gray;
    right: 0;
    left: 0;
    border-radius: 50px;
    margin: 5px;
    border: black 5px solid;

}