.flex{
    display: flex;
    
}
body{
    background-color: bisque;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(190, 49, 255);
    border: solid rgb(128, 36, 170) 5px;
    border-radius: 5px;
    height: 60px; display: flex;
}
article h2{
    display: flex;

    margin-left: 40%;
    border: solid rgb(128, 36, 170)
}
article h3{
    display: flex;
    
    margin-left: 40%;
    border: solid rgb(128, 36, 170)
}
article{
    justify-content:end;
}
div{
    margin-right: 10%;
}


