.flex{
    display: flex;
    
}
body{
    background-color: bisque;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(190, 49, 255);
    border: solid rgb(128, 36, 170) 5px;
    border-radius: 5px;
    height: 60px; display: flex;
}
section h1{
    margin-right: 190px;
    margin-bottom: 12px;
}
h2{
    display: flex;
    justify-content: flex-end;
    border:rgb(190, 49, 255);
    border-radius: 7px;
    position:absolute;
    margin-top: -10px;
    
}
div{
    margin-right: 240px;
    margin-left: 0,25px;
}
button{
    color: rgb(190, 49, 255);
    background-color: rgb(128, 36, 170);
}


